{% extends "user_profile/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}

<script>
    window.onload = function() {
        list = document.getElementsByTagName('span');
        for(i=0;i<list.length;i++) {
            list[i].setAttribute('draggable', true);
        };
        var dragSource = document.getElementsByClassName('drag');
        for(i=0;i<dragSource.length;i++) {
            dragSource[i].ondragstart = function(event) {
                console.log(this);
                var dataToCopy = event.target.innerText;
                event.dataTransfer.setData('Text', dataToCopy);
                event.dataTransfer.setData('Origin', this);
                return true;
            };
        }
        var dropTarget = document.getElementsByClassName('drop');
        for(i=0;i<dropTarget.length;i++) {
            dropTarget[i].ondrop = function(event) {
                this.setAttribute('value', event.dataTransfer.getData('Text'));
                console.log(event);
                return false;
            };
            dropTarget[i].ondragover = function(event) {
                event.preventDefault();
                return false;
            };
            dropTarget[i].ondragend = function(event) {
                event.preventDefault();
                return false;
            };
        }
    }
</script>

<div class="col-lg-10 col-lg-offset-1" style="margin-top: 10px;">
    <ol class="breadcrumb">
        <li><a href="{% url 'table_mapping' %}">Table Mapping</a></li>
        <li class="active">Column Mapping</li>
        <li><a href="{% url 'mapping_review' %}">Mapping Review</a></li>
        <li><a href="{% url 'transfer_database' %}">Transfer Database</a></li>
    </ol>
</div>

<form method="post" class="panel-group" id="accordion" role="tablist">
    <div class="row" style="margin-top:50px;">
        <div class="container">
            {% csrf_token %}
            {% for our_table_name, our_column_list in our_model.iteritems %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{our_table_name}}" aria-expanded="true" aria-controls="{{our_table_name}}">
                            {{our_table_name}}
                        </a>
                    </h4>
                </div>
                <div id="{{our_table_name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{our_table_name}}">
                    <div class="panel-body">
                        <div class="row">
                            {% with client_table_name=table_map|get_item:our_table_name%}
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <h3>{{client_table_name}}</h3>
                                    {% for client_column_name in client_table_and_column_with_type|get_item:client_table_name %}
                                    <li class="list-group-item">
                                        <span class="drag">{{client_column_name}}</span>
                                        <div draggable="false" style="float: right;">
                                            <input name="{{client_table_name}}.is_factor.{{client_column_name}}" type="checkbox">
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endwith %}
                            <div class="col-lg-6">
                                <ul class="list-group">
                                    <h3>{{our_table_name}}</h3>
                                    {% for our_column_name in our_column_list %}
                                    {% with is_column=is_column_name_mandatory|get_item:our_table_name %}
                                    <li class="list-group-item">
                                        <div class="input-group input-group-sm">
                                                <span class="input-group-addon" id="sizing-addon3">
                                                    {{our_column_name}}
                                                    {% if is_column|get_item:our_column_name %}
                                                        <i style="color: red">*</i>
                                                    {% endif %}
                                                </span>
                                            <input name="{{our_table_name}}.{{our_column_name}}" type="text" class="form-control drop" aria-describedby="sizing-addon3" readonly required aria-required="true">
                                        </div>
                                    </li>
                                    {% endwith %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="position: fixed; right: 15px; bottom: 15px; display: sticky; width: 200px">
        <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
    </div>
</form>

{% endblock %}
