{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}

<style>
    .border {
        border: 1px solid black;
    }
    .list-group {
        margin-top: 60px;
    }
    .box {
        min-height: 50px;
    }
</style>
<script>
    window.onload = function() {
        list = document.getElementsByTagName('span');
        for(i=0;i<list.length;i++) {
            list[i].setAttribute('draggable', true);
        };
        var dragSource = document.getElementsByClassName('drag');
        for(i=0;i<dragSource.length;i++) {
            dragSource[i].ondragstart = function(event) {
                console.log(this);
                var dataToCopy = event.target.innerText;
                event.dataTransfer.setData('Text', dataToCopy);
                event.dataTransfer.setData('Origin', this);
                return true;
            };
        }
        var dropTarget = document.getElementsByClassName('drop');
        for(i=0;i<dropTarget.length;i++) {
            dropTarget[i].ondrop = function(event) {
                this.setAttribute('value', event.dataTransfer.getData('Text'));
                console.log(event);
                return false;
            };
            dropTarget[i].ondragover = function(event) {
                event.preventDefault();
                return false;
            };
            dropTarget[i].ondragend = function(event) {
                event.preventDefault();
                return false;
            };
        }
    }




</script>

<div class="col-lg-10 col-lg-offset-1" style="padding-top: 50px;">
    <ol class="breadcrumb">
        <li class="active">Table Mapping</li>
        <li><a href="{% url 'column_mapping' %}">Column Mapping</a></li>
        <li><a href="{% url 'mapping_review' %}">Mapping Review</a></li>
        <li><a href="{% url 'transfer_database' %}">Transfer Database</a></li>
    </ol>
</div>

<form name="table_mapping_form" method="post" class="container-fluid" onsubmit="return validate();">
    {% csrf_token %}
    <div class="row well well-custom-default">
        <div class="col-lg-3 custom-scrollbar" style="z-index: 99; max-height: 500px; overflow-y: scroll;">
            <div class="page-header">
                <h3>Client Tables</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn btn-block btn-md btn-primary">
                        Sync Table Names
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="list-group">
                    {% for item in list_of_tables %}
                    <div class="list-group-item border">
                        <div class="row-content">
                            <span class="list-group-item-heading drag">{{item}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 custom-scrollbar" style="max-height: 500px; overflow-y: scroll;">
            <div class="page-header">
                <h3>System Tables</h3>
            </div>
            <div class="col-lg-12">
                <a onclick="clearFields(event)" class="btn btn-block btn-md btn-primary">
                    Clear Selections
                </a>
            </div>
            <div class="row">
                <div class="list-group">
                    {% for heading in list_of_headings %}
                    <div class="list-group-item" onmouseover="showTable('{{heading}}')">
                        <div class="form-group">
                            <label for="{{heading}}" class="col-md-5 control-label" style=" color: black;">
                                {{heading}}
                            </label>
                            {% if is_table_name_mandatory|get_item:heading %}
                                <i style="color: red">*</i>
                            {% endif %}
                            <div class="col-md-7">
                                {% if is_table_name_mandatory|get_item:heading %}
                                    <input id="{{heading}}" name="{{heading}}" type="text" class="form-control drop" readonly required>
                                {% else %}
                                    <input id="{{heading}}" name="{{heading}}" type="text" class="form-control drop" readonly>
                                {% endif %}
                                <span id="{{heading}}-error" style="display: none;" class="btn-danger">This Field Is Mandatory</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-5 custom-scrollbar" style="max-height: 500px; overflow-y: scroll;">
            <div id="preview-section">
                <img id="preview-transaction_master" src="{% static 'assets/images/table-preview/transaction_master.png' %}" style="min-width: 720px; overflow-x: scroll;" alt="">
                <img id="preview-customer_master" src="{% static 'assets/images/table-preview/customer_master.png' %}" style="min-width: 720px; overflow-x: scroll;" alt="">
                <img id="preview-customer_secondary" src="{% static 'assets/images/table-preview/customer_secondary.png' %}" style="min-width: 720px; overflow-x: scroll;" alt="">
                <img id="preview-customer_contact" src="{% static 'assets/images/table-preview/customer_contact.png' %}" style="min-width: 720px; overflow-x: scroll;" alt="">
                <img id="preview-event_log" src="{% static 'assets/images/table-preview/event_log.png' %}" style="min-width: 720px; overflow-x: scroll;" alt="">
                <img id="preview-event_master" src="{% static 'assets/images/table-preview/event_master.png' %}" style="min-width: 720px; overflow-x: scroll;" alt="">
                <img id="preview-product_master" src="{% static 'assets/images/table-preview/product_master.png' %}" style="min-width: 720px; overflow-x: scroll;" alt="">
            </div>
        </div>
    </div>
    <div style="position: fixed; right: -10px; top: 45%;">
        <button class="btn btn-md btn-primary btn-raised" style="border-radius: 15px;" type="submit">Next</button>
    </div>
</form>


<script>
    function tableNames() {
        return [
            'CUSTOMER_MASTER',
            'TRANSACTION_MASTER',
            'CUSTOMER_SECONDARY',
            'PRODUCT_MASTER',
            'CUSTOMER_CONTACT',
            'EVENT_LOG',
            'EVENT_MASTER'
        ];
    }
    function showTable(name) {
        $('#preview-section > img').hide();
        $('#'+'preview-'+name.toLowerCase()).show();
//        var tables = tableNames();
//        for(var i=0; i<tables.length; i++) {
//            id = 'preview-' + tables[i].toLowerCase();
//            if(name.toLowerCase() == tables[i].toLowerCase()) {
//                $('#'+id).show();
//            }
//            else {
//                $('#'+id).hide();
//            }
//        }
    }
    function clearFields(e) {
        console.log(e);
        temp = tableNames();
        for(item in temp) {
            console.log(item);
            console.log(temp[item]);
            var el = document.getElementById(temp[item]);
            console.log(el);
            el.setAttribute('value', '')
        }
    }
    function validate() {
        var transactionMaster = $('#TRANSACTION_MASTER');
        if( transactionMaster.val() == '' || transactionMaster.val() == null) {
            $('#TRANSACTION_MASTER-error').show();
            return false;
        }
        else {
            $('#TRANSACTION_MASTER-error').hide();
            return true;
        }
    }
</script>

{% endblock %}
