{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block content %}
{% load static %}


<div class="col-lg-10 col-lg-offset-1" style="margin-top: 10px;">
    <ol class="breadcrumb">
        <li><a href="{% url 'table_mapping' %}">Table Mapping</a></li>
        <li><a href="{% url 'column_mapping' %}">Column Mapping</a></li>
        <li><a href="{% url 'mapping_review' %}">Mapping Review</a></li>
        <li class="active">Transfer Database</li>
    </ol>
</div>

<div class="col-lg-4 col-lg-offset-4" style="margin-top: 50px;">

    <div class="row" style="margin-top: 50px;">
        <div>
            <h1 class="text-center">Database Transfer Failed</h1>
        </div>
        <div class="row text-center">
            <a class="btn btn-md btn-primary" href="{% url 'mapping_review' %}">Go Back</a>
            <a class="btn btn-md btn-danger">Report Administrator</a>
        </div>
    </div>

</div>


{% endblock %}
