{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}

<div class="col-lg-10 col-lg-offset-1" style="margin-top: 10px;">
    <ol class="breadcrumb">
        <li><a href="{% url 'table_mapping' %}">Table Mapping</a></li>
        <li class="active">Column Mapping</li>
        <li class="active">Mapping Review</li>
        <li class="active">Transfer Database</li>
    </ol>
</div>

<form action="." method="post" class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center">
            <h3>Table Transfer Started</h3>
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Successful !</strong> Database Transfer Will Take Sometime. You Will Be Notified When The Process Completes.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <a href="{% url 'dashboard' %}" class="btn btn-block btn-primary">
                Go To Your Dashboard
            </a>
        </div>
    </div>
</form>

{% endblock %}
