{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}

<!--<div class="row" style="padding-top: 15px;">-->
  <!--<div class="col-lg-4 col-lg-offset-4">-->
    <!--<div class="thumbnail">-->
      <!--<img src="..." alt="...">-->
      <!--<div class="caption">-->
        <!--<h3>Login</h3>-->
        <!--<form class="login-form" method="post" action="." style="font-color: black;">-->
          <!--{% csrf_token %}-->
          <!--{{form.as_p}}-->
          <!--<button class="btn btn-primary" type="submit">login</button>-->
          <!--<p class="message">Forgot Password? <a href="#">Reset It</a></p>-->
          <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="row" style="padding-top: 15px;">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Login</h3>
                <form class="login-form" method="post" action="." style="font-color: black;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">Username</label>
                        <div class="col-md-10">
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                    </div>
                    <div style="height: 20px;" class="row"></div>
                    <button class="btn btn-primary btn-block" type="submit" value="{% trans 'Log in' %}" >login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
