
{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<style>
    .image_body{
        background-image: url({% static 'assets/images/table_dashboard5.jpg' %});
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 40px;
    }
</style>
<div class="image_body responsive">
    <div class="row" style="padding-top: 15px;">
        <div class="col-lg-4 col-lg-offset-4  ">
            <div class="thumbnail panel-primary thumbnail-panel-primary-login_form ">
                <img src="{% static 'assets/images/mia.png' %}" class="login-form-img" >
                <div class="caption">
                    <h3 style="font-size: 20px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">Login</h3>
                    <form class="login-form" method="post" action="." style="font-color: black;">
                        {% csrf_token %}
                        <!--{{form.as_p}}-->
                        <p><label for="id_username"></label> <input id="id_username" maxlength="50" placeholder="username" name="username" type="text" required /></p>
                        <p><label for="id_password"></label> <input id="id_password" maxlength="100" placeholder="password" name="password" type="password" required /></p>
                        <button class="btn btn-raised btn-danger" type="submit" style="background-color:#fc9e5c ;">login</button>
                        <!--<p class="message" style="margin-right: 100px;">Forgot Password? <a href="#">Reset It</a></p>-->
                        <!--<p class="message" style="margin-right: 54px;">Not registered? <a href="#">Create an account</a></p>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}