<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Client Tuple</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/material/css/bootstrap-material-design.css' %}" rel="stylesheet">
    <link href="{% static 'assets/material/css/ripples.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/circle-progress/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/custom/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/chatbot/css/chatbot.css' %}" rel="stylesheet">
    <link href="{% static 'assets/custom/overrides.css' %}" rel="stylesheet">


    <!-- JS -->

    <!-- Frameworks And Libraries-->
    <script src="{% static 'assets/jquery/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/material/js/material.js'%}"></script>
    <script src="{% static 'assets/material/js/ripples.js'%}"></script>
    <script src="{% static 'assets/circle-progress/app.js' %}"></script>
    <script>
        $.material.init();
    </script>


    <!-- Custom Code -->
    <script src="{% static 'assets/custom/app.js' %}"></script>
    <script src="{% static 'assets/chatbot/js/chatbot.js' %}"></script>
    <script src="{% static 'assets/chatbot/js/chatbot-function.js' %}"></script>


</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tuple MIA</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'connect_client_db' %}">Connect Database</a></li>
                <li><a href="#">Database Sync(Coming Soon)</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Integrations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="list-group-item" href="https://slack.com/oauth/authorize?scope=bot&client_id=14632386742.108610646339">
                                <div class="row-picture">
                                    <img class="circle" src="{% static 'assets/images/slack_image.png' %}" alt="icon">
                                </div>
                                <div class="row-content">
                                    <p class="list-group-item-text">Slack Integration</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                <!--<span class="glyphicon glyphicon-bell" style="font-size: 20px;"></span>-->
                <!--<span class="badge">4</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Notification 1</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Notification 2</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Notification 3</a></li>-->
                <!--</ul>-->
                <!--</li>-->

                <li><p class="navbar-text navbar-right">Signed in as&nbsp&nbsp&nbsp&nbsp&nbsp</p></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.user}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% block content %}
{% endblock %}


<!-- Chatbot -->

{% if request.user.is_authenticated %}

{% include 'chatbot/index.html' %}

{% endif %}
</body>


</html>
