{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}


<input type="button" id="btnChange" value="  Change ID " style ="display:none;"/>
<input type="button" id="btncircle" value="CircleFill" style="display: none;"/>

<section class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col col-lg-12">
            <div class="panel-heading">
                <div class="row seven-cols" style="font-size: 16px;text-align: center; background-color: #545454; color: white;">
                    <div class="col-lg-1">
                        FULLNAME
                    </div>
                    <div class="col-lg-1">
                        CLTV
                    </div>
                    <div class="col-lg-1">
                        CHURN
                    </div>
                    <div class="col-lg-1">
                        HIGH CONV
                    </div>
                    <div class="col-lg-1">
                        VALUE
                    </div>
                    <div class="col-lg-1">
                        CLUSTER
                    </div>
                    <div class="col-lg-1">
                        ENGAGEMENT
                    </div>
                </div>
            </div>
            <div id="master_table" class="well">
                {% include 'dashboard/dashboard-table.html' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
