.navbar-custom {
    background-color: #FFFFFF;
    color: #a9a9a9;
}

.navbar-custom .navbar-nav > li > a {
    font-weight: bold;
}

.navbar-custom .navbar-nav > li.active > a {
    color: #4caf50;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}


@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}